* {
    margin: 0;
}

.top {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    padding: 20px 300px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    display: flex;
    align-items: center;
}

.header-links {
    display: flex;
}

.main-title {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.main-title + p {
    color: white
}

.inferior-part {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;

}

.middle {
    display: flex;
    flex-direction: column;
}

.row-content {
    display: flex;
    justify-content: space-evenly;
}

.images {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.images p {
    display: flex;
    color: #3882F6;
    width: 200px;
    text-align: center;
}

.quote {
    display:flex;
    flex-direction: column;
    background-color: #E5E7EB;
    align-items: center;
    margin-top: 50px;
}

quote {
    font-size: 26px;
    font-style: italic;
    text-align: center;
    color: #1F2937;
    width: 950px;
    margin-top: 40px;
}

.quote  h3 {
    font-size: 32px;
    margin: 15px;
}

footer {
    display: flex;
    justify-content: center;
}

.bottom {
    display: flex;
    width: 600px;
    background-color: #3882f6;
    color: white;
    border-radius: 10px;
    margin: 60px;
    padding: 60px;
    justify-content: space-evenly;
}

.bottom p {
    color: white;
    font-size: 14px;
    font-weight: 100;
}

.bottom-left {
    display: flex;
    flex-direction: column;
}



button {
    background-color: #3882F6;
    color: white;
    border-radius: 4px;
    width: 100px;
    border: none;
    padding: 5px;
    margin-top: 10px;
    border: solid white 1px;
}

img {
    width: 200px;
    height: 200px;;
}

ul {
    color: #E5E7EB;
    font-size: 18px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 15px;
}



h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 800;
    text-align: center;
    margin: 40px;
}
